/* shered style */

header{
    background: rgba(229, 84, 115, 0.10);
    display: flex; 
    text-align: center;
    margin-top: 100px;
    
}
body{
    font-family: 'Open Sans', sans-serif;
}


/* nav{
    display: flex;
} */
.nav- title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
    

}
.btn-primary{
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
}
.description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    
}
.main{
    text-align: center;
    margin-top: 100px;
}
   
.main-pic{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-left: 100px;
    width: 464px;
    height: 538px;

}
.banar-main{
    text-align: center;
    margin-top: 100px;
}
.main-flower{
    align-items: end;
}
.inta-gram{
    text-align: center;
    margin-top: 100px;
    

    
}
.image-insta{
    margin: 24px;
    
}
.latest-deel{
    text-align: center;
    margin-top: 100px;

    
}
.spn-ti{
    color: #E55473;
    
}
.flower-shop{
    text-align: center;
    margin-top: 100px;
}
.feature{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

